THE CONTENT OF THIS FILE DESCRIBES HOW TO USE THE DeployFinancialManager.ps1 SCRIPT

*****PREREQUISITES*****

ENVIRONMENT VARIABLE 'QTDEPLOY' EXISTS AND POINTS TO THE 'windeployqt.exe' EXECUTABLE (e.g.: c:\Qt\5.15.2\msvc2019_64\bin\windeployqt.exe)
ENVIRONMENT VARIABLE 'QTINSTALL' EXISTS AND POINTS TO THE 'binarycreator.exe' EXECUTABLE  (e.g.: c:\Qt\QtIFW-4.1.1\bin\binarycreator.exe)
NOTE THAT THE QT INSTALLER FRAMEWORK IS NOT PART OF THE BASE QT INSTALLER. IT HAS TO BE DOWNLOADED MANUALLY

CREATE A DEBUG OR RELEASE BUILD OF THE APPLICATION
NOTE THAT THE DeployFinancialManager.ps1 USES A FIX BUILD PATH. IF YOU CHANGE THE BUILD PATH INTERNALLY YOU HAVE TO MANUALLY UPDATE THE SCRIPT TOO


*****DEPLOY AND INSTALL*****

AFTER BUILDING THE APPLICATION RUN THE DeployFinancialManager.ps1 SCRIPT FROM POWERSHELL. USE THE debug AND release ARGUMENTS TO DEFINE WHICH BUILD HAS TO BE DEPLOYED (debug is the default)

IF THE GIVEN ARGUMENT IS 'release' THE SCRIPT WILL ALSO CREATE AN INSTALLER FOR THE APPLICATION. THE INSTALLER IS CREATED AT THE ..\Installer\ FOLDER AS DEFAULT.
