THE CONTENT OF THIS FILE DESCRIBES HOW TO USE THE DeployFinancialManager.ps1 and GenerateCodeCoverage.ps1 SCRIPTS




*****PREREQUISITES FOR DEPLOY*****

ENVIRONMENT VARIABLE 'QTDEPLOY' EXISTS AND POINTS TO THE 'windeployqt.exe' EXECUTABLE (e.g.: c:\Qt\5.15.2\msvc2019_64\bin\windeployqt.exe)
ENVIRONMENT VARIABLE 'QTINSTALL' EXISTS AND POINTS TO THE 'binarycreator.exe' EXECUTABLE  (e.g.: c:\Qt\QtIFW-4.1.1\bin\binarycreator.exe)
NOTE THAT THE QT INSTALLER FRAMEWORK IS NOT PART OF THE BASE QT INSTALLER. IT HAS TO BE DOWNLOADED MANUALLY

CREATE A DEBUG OR RELEASE BUILD OF THE APPLICATION
NOTE THAT THE DeployFinancialManager.ps1 USES A FIX BUILD PATH. IF YOU CHANGE THE BUILD PATH YOU HAVE TO MANUALLY UPDATE THE SCRIPT TOO


*****DEPLOY AND INSTALL*****

AFTER BUILDING THE APPLICATION RUN THE DeployFinancialManager.ps1 SCRIPT FROM POWERSHELL. USE THE debug AND release ARGUMENTS TO DEFINE WHICH BUILD HAS TO BE DEPLOYED (debug is the default)

IF THE GIVEN ARGUMENT IS 'release' THE SCRIPT WILL ALSO CREATE AN INSTALLER FOR THE APPLICATION. THE INSTALLER IS CREATED AT THE ..\Installer\ FOLDER AS DEFAULT.




*****PREREQUISITES FOR CODE COVERAGE*****

THE OpenCppCoverage TOOL HAS TO BE INSTALLED ON THE COMPUTER AND THE PATH ENVIRONMENT VARIABLE HAS TO CONTAIN ITS INSTALLATION PATH

CREATE A RELEASE BUILD OF THE APPLICATION. THE CODE COVERAGE IS ONLY GENERATED FOR RELEASE
NOTE THAT THE GenerateCodeCoverage.ps1 USES A FIX BUILD PATH. IF YOU CHANGE THE BUILD PATH YOU HAVE TO MANUALLY UPDATE THE SCRIPT TOO


*****GENERATING CODE COVERAGE*****

AFTER BUILDING THE APPLICATION IN RELEASE RUN THE GenerateCodeCoverage.ps1 SCRIPT FROM POWERSHELL. THE RESULTS WILL BE AVAILABLE IN THE .\CodeCoverageResults\ FOLDER